<div>
	<h1>path, state and goBack</h1>
	<p><strong>PREVPATH: </strong> {{prevpath}}</p>
	<p><strong>PREVSTATE: </strong> {{prevstate}}</p>
	<p><button ng-click="goBack()">goBack()</button></p>

	<h1>get/add query params</h1>
	<p>
		current URL<br/>
		<button ng-click="getQueryParams()">getQueryParams</button>
		<button ng-click="addQueryParams()">addQueryParams (hello: 'world')</button>
	</p>
	<p>
		http://foo.bar<br/>
		<button ng-click="getQueryParamsVoid()">getQueryParams</button>
		<button ng-click="addQueryParamsVoid()">addQueryParams (hello: 'world')</button>
	</p>
	<p>
		http://foo.bar/#!/ciao?pippo=no&nonsono=io&masono=pluto<br/>
		<button ng-click="getQueryParamsAfter()">getQueryParams</button>
		<button ng-click="addQueryParamsAfter()">addQueryParams (hello: 'world')</button>
	</p>
	<p>
		http://foo.bar?pippo=no&nonsono=io&masono=pluto/#!/ciao<br/>
		<button ng-click="getQueryParamsBefore()">getQueryParams</button>
		<button ng-click="addQueryParamsBefore()">addQueryParams (hello: 'world')</button>
	</p>
</div>

<div hljs hljs-include="'pages/browser.js'" hljs-language="JavaScript"></div>
<div hljs hljs-include="'pages/browser.html'" hljs-language="HTML"></div>