{{enabled}}
<button ng-click="enable()">ENABLE</button> 
<button ng-click="disable()">DISABLE</button> <br/> <br/>
<input type="text" ng-model="string" placeholder="Insert string to print" /> <br/> <br/>
<button ng-click="log()">LOG</button> 
<button ng-click="info()">INFO</button> 
<button ng-click="table()">TABLE</button> 
<button ng-click="warn()">WARN</button> 
<button ng-click="error()">ERROR</button> 
<br><hr>
<button ng-click="startRecording()">START</button> 
<button ng-click="endRecording()">END</button> 

<div hljs hljs-include="'pages/logger.js'" hljs-language="JavaScript"></div>
<div hljs hljs-include="'pages/logger.html'" hljs-language="HTML"></div>