<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="storage-page"><h2 id="storage">Storage</h2>
<p>Storage is the module of Barney used to set and get values from 3 different storage:</p>
<ul>
<li>Local Storage;</li>
<li>Cookies;</li>
<li>jsObject.</li>
</ul>
<h2 id="components">Components</h2>
<ul>
<li><a href="#/version/storage.BarneyStorage">BarneyStorage</a></li>
</ul>
<h2 id="usage">Usage</h2>
<p>To use <strong>Storage</strong> module you have to include the <strong>Storage</strong> javascript file in your index.html:</p>
<pre class="prettyprint linenums">

  &lt;!-- Storage module --&gt;
  &lt;script type="text/javascript" src="./bower_components/barney/dist/storage.min.js"&gt; 

</pre>
<h2 id="init-storage">Init Storage</h2>
<p>Before using Storage module, it must be initialized. 
To initialize Storage you can use the Storage method <a href="#/version/storage.BarneyStorage#methods_init">init</a>.</p>
</div></div>
