<a href="https://github.com/D-Mobilelab/barney/edit/master/docs/welcome.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/D-Mobilelab/barney/blob/a7822d9/docs/welcome.js#L28" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="welcome-page"><h2 id="welcome-to-barney">Welcome to Barney!</h2>
<p>Barney is a set of Angular libraries, useful for various purposes.</p>
<p>Barney is divided in various modules, every module performs an action and is indipendent.</p>
<p>Remember, before using a Barney module, to include <strong>barney</strong> to your Angular app:
<pre class="prettyprint linenums">
angular.module('yourAngularApp', [
  ...,
  'barney',
  ...
])
</pre>
<p>To discover the purpose of every module and to read the instruction to include and use it, open the related page:</p>
<ul>
<li><a href="#/version/browser">browser</a></li>
<li><a href="#/version/config">config</a></li>
<li><a href="#/version/dict">dict</a></li>
<li><a href="#/version/infinite">infinite</a></li>
<li><a href="#/version/livehtml">livehtml</a></li>
<li><a href="#/version/meta">meta</a></li>
</ul>
</div></div>
