<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="callbacky-page"><h2 id="callbacky">Callbacky</h2>
<p>Callbacky is the module of Barney that allow you 
to bind and trigger a function from different points in your code (i.e: controllers, services, ...).</p>
<h2 id="components">Components</h2>
<ul>
<li><a href="#/version/callbacky.BarneyCallbacky">BarneyCallbacky</a></li>
</ul>
<h2 id="usage">Usage</h2>
<p>To use <strong>Callbacky</strong> module you have to include the <strong>Callbacky</strong> javascript files in your index.html:</p>
<pre class="prettyprint linenums">

  &lt;!-- Callbacky module --&gt;
  &lt;script type="text/javascript" src="./bower_components/barney/dist/callbacky.min.js"&gt; 

</pre>
<h2 id="init-callbacky">Init Callbacky</h2>
<p>Before using Callbacky module, it must be initialized. 
To initialize Callbacky you can use the Callbacky method <a href="#/version/callbacky.BarneyCallbacky#methods_init">init</a>.</p>
</div></div>
