<a href="https://github.com/D-Mobilelab/barney/edit/master/docs/welcome.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/D-Mobilelab/barney/blob/4035305/docs/welcome.js#L90" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="browser-page"><h2 id="browser">Browser</h2>
<p>Browser is the module of Barney to manage browser.</p>
<h3 id="browser_usage">Usage</h3>
<p>To use <strong>Browser</strong> module you have to include the following file:
<pre class="prettyprint linenums">
 &lt;script type="text/javascript" src="./bower_components/barney/browser/browser.min.js"&gt;
</pre>
<h3 id="browser_components">Components</h3>
<p>You can use now the following components:</p>
<ul>
<li><a href="#/version/browser.BarneyBrowser">service</a></li>
</ul>
</div></div>
