<a href="https://github.com/D-Mobilelab/barney/edit/master/docs/welcome.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/D-Mobilelab/barney/blob/4035305/docs/welcome.js#L109" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="infinite-page"><h2 id="infinite">Infinite</h2>
<p>Infinite is the module of Barney to use infinite scroll feature.</p>
<h3 id="infinite_usage">Usage</h3>
<p>To use <strong>Infinite</strong> module you have to include the following file:
<pre class="prettyprint linenums">
 &lt;script type="text/javascript" src="./bower_components/barney/infinite/infinite.min.js"&gt;
</pre>
<h3 id="infinite_components">Components</h3>
<p>You can use now the following components:</p>
<ul>
<li><a href="#/version/infinite.directive:InfiniteScroll">directive</a></li>
</ul>
</div></div>
